@charset 'utf-8';
/* nav */
/* .navbar-inverse {
	background-color: #3f9fd9;
	border-bottom: 1px solid #bbb;
	color: #fff;

	.navbar-brand, .navbar-nav>li>a {
		color: #fff;
	}
	.navbar-nav>.open>a {
		&, &:focus, &:hover {
			background-color: transparent;
		}
	}
	.container-fluid {
		background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 50%, rgba(30, 30, 30, 0) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(30, 30, 30, 0)));
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 50%, rgba(30, 30, 30, 0) 100%);
		background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 50%, rgba(30, 30, 30, 0) 100%);
		background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 50%, rgba(30, 30, 30, 0) 100%);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 50%, rgba(30, 30, 30, 0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#001e1e1e', GradientType=0);
		height: 50px;
	}
}
// 顶部菜单
@media screen and (max-width:768px) {
	.navbar-inverse {
		.navbar-nav {
			li.dropdown {
				border-bottom: 1px solid #aaa;
				background-color: #fff;

				a, a:focus, a:hover {
					color: #333;
				}
				&.open {
					a, a:focus, a:hover {
						color: #333;
					}
				}
			}
		}
	}
}
// 左侧列表
@media (min-width:768px) {
	.sidebar {
		background-color: #eee;
		border-right: 1px solid #bbb;
	}
} */
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
旋转
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
圆角
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
单行文本省略
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
清除浮动
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
三角箭头(色块)的样式
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
三角箭头（线框）的样式
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* CSS Document */
/* 微软雅黑 */
/* 中间对齐 */
.m-center {
  width: 1180px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  /* Firefox */
  -webkit-box-sizing: content-box;
  /* Safari */
}
/* body */
body {
  background: #ffffff url(../images/page-bg.png) no-repeat top center scroll;
}
/* topbar */
.topbar {
  height: 40px;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.5);
  *background-color: #ffffff;
  *filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
.topbar .center {
  overflow: hidden;
}
.topbar .center a {
  color: #399fef;
  text-decoration: underline;
}
.topbar .center a:hover {
  color: #00508b;
  text-decoration: underline;
}
.topbar .l-title {
  float: left;
  height: 20px;
  line-height: 20px;
}
.topbar .r-login {
  float: right;
  height: 20px;
  line-height: 20px;
}
/*  head */
.head {
  height: 60px;
  padding: 20px 0;
  background: url(../images/logo.png) no-repeat left center scroll;
  overflow: hidden;
}
.head .title {
  height: 50px;
  font-family: Microsoft YaHei, '\5fae\8f6f\96c5\9ed1';
  padding-left: 80px;
  float: left;
  margin: 10px 0 0 0;
}
.head .title p {
  margin: 0;
}
.head .title .main {
  line-height: 30px;
  height: 30px;
  font-size: 22px;
  color: #00783c;
  font-weight: bold;
}
.head .title .minor {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #00783c;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}
.head .search-box {
  position: relative;
  float: right;
  height: 40px;
  wdth: auto;
  margin: 10px 0;
}
.head .s-box {
  width: 360px;
  height: 40px;
  padding: 5px 5px;
  border: 0;
  background: #f5f5f5;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.head .s-box:focus {
  border: 1px solid #d5d5d5;
  box-shadow: none;
}
.head .s-submint {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 0;
  background: transparent;
}
/* foot */
.foot {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  background: #f0f0f0;
}
.foot .f-center {
  width: 1180px;
  height: auto;
  margin: 0 auto;
}
.foot .f-left {
  float: left;
  width: 712px;
  padding-right: 40px;
  border-right: 1px dashed #cccccc;
}
.foot .f-right {
  float: right;
  width: 290px;
  padding-left: 40px;
}
.foot .f-right h3 {
  font-size: 14px;
  margin: 0;
}
.foot .f-right h3,
.foot .f-right li {
  line-height: 25px;
}
.foot .f-copyright p {
  line-height: 30px;
  height: 30px;
  color: #999999;
}
/*  菜单 */
.nav-bar {
  width: 100%;
  background: url(../images/bg_menu.jpg) repeat-x left center scroll;
  height: 50px;
  /*.nav {
			overflow: hidden;
			height: 50px;
		
			a {
				font-size: 18px;
				line-height: 60px;
				display: block;
				float: left;
				width: 143px;
				height: 60px;
				text-align: center;
				color: @color-white;
				border-left: 1px solid @color-white;
				text-decoration: none;
		
				&:first-child {
					border-left: 0 !important;
				}
				&.on, &:hover {
					height: 59px;
					color: @color-blue;
					border-top: 1px solid #399fef;
					border-right: 1px solid @color-grey-2;
					border-left: 1px solid @color-grey-2;
					background-color: @color-white;
					background-image: none;
					text-decoration: none;
				}
			}
		} */
}
.nav-bar ul {
  list-style-type: none;
  padding: 0;
}
.nav-bar .nav {
  height: 50px;
}
.nav-bar .nav li.menu {
  width: 125px;
  float: left;
  border-left: 1px solid #ffffff;
  position: relative;
}
.nav-bar .nav li.menu a {
  color: #ffffff;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  padding: 0;
}
.nav-bar .nav li.menu:first-child {
  width: 126px;
  border-left: 0;
}
.nav-bar .nav li.menu.on,
.nav-bar .nav li.menu:hover {
  width: 124px;
  border-top: 1px solid #399fef;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  background-color: #ffffff;
  background-image: none;
  text-decoration: none;
}
.nav-bar .nav li.menu.on ul.nav-child,
.nav-bar .nav li.menu:hover ul.nav-child {
  display: block;
}
.nav-bar .nav li.menu.on a,
.nav-bar .nav li.menu:hover a {
  color: #399fef;
  background-color: #ffffff;
}
.nav-bar .nav ul.nav-child {
  width: 124px;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-top: 0;
  position: absolute;
  top: 49px;
  left: -1px;
  z-index: 100;
  display: none;
}
.nav-bar .nav ul.nav-child li.items {
  width: auto;
  overflow: hidden;
}
.nav-bar .nav ul.nav-child li.items a {
  width: auto;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  color: #666666;
  padding: 10px 10px;
  vertical-align: middle;
  text-align: center;
}
.nav-bar .nav ul.nav-child li.items a:hover {
  color: #399fef;
  background-color: #f7f7f7;
  text-decoration: none;
}
/* 左侧菜单 */
.sidebar {
  display: block;
  background-color: #eee;
  margin-bottom: -99999px;
  padding: 0 0 99999px 0;
  min-height: 200px;
  height: auto !important;
  height: 200px;
  border-right: 1px solid #ccc;
}
.sidebar .title {
  line-height: 20px;
  height: 60px;
  padding: 20px;
  text-decoration: none;
}
.sidebar .title:hover {
  text-decoration: none;
}
.sidebar .title {
  font-size: 20px;
  color: #ffffff;
  background-color: #399fef;
  margin: 0;
}
.sidebar dl.subtitle {
  height: 60px;
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  margin: 0;
  cursor: pointer;
}
.sidebar dl.subtitle dt {
  font-size: 18px;
  font-weight: 400;
  height: 60px;
  padding: 20px 20px 20px 40px;
  color: #666666;
}
.sidebar dl.subtitle dd {
  padding: 10px;
  margin-left: 50px;
}
.sidebar dl.subtitle dd a {
  cursor: pointer;
  font-size: 14px;
  color: #666666;
}
.sidebar dl.subtitle.on,
.sidebar dl.subtitle:hover {
  background-color: #ffffff;
  padding-bottom: 20px;
}
.sidebar dl.subtitle.on dt,
.sidebar dl.subtitle:hover dt {
  color: #ff7878;
  border-left: 5px solid #ff7878;
  padding-left: 35px;
}
.sidebar dl.subtitle.on {
  height: auto;
}
.sidebar dl.subtitle.on dd.on a {
  font-weight: 800;
  color: #ff7878;
}
/* 右侧 */
.cms-list {
  background-color: #ffffff;
  margin-left: 0;
  margin-bottom: -99999px;
  padding: 0 20px 99999px 20px;
  min-height: 770px;
  height: auto !important;
  height: 770px;
}
.cms-list .sub-header {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #399fef;
}
.cms-list .sub-header a {
  font-size: 18px;
  line-height: 39px;
  width: auto;
  height: 39px;
  padding: 0 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-decoration: none;
  color: #aaa;
}
.cms-list .sub-header a.on {
  color: #399fef;
  border-bottom: 2px solid #399fef;
}
.container-fluid.m-center {
  padding: 0;
  margin-top: 20px;
}
.container-fluid.m-center .row {
  margin: 0px;
  overflow: hidden;
  border: 1px solid #cccccc;
  min-height: 770px;
}
/* table */
.table-hover > tbody > tr:hover {
  background-color: #ffffcc;
}
@media (max-width: 1024px) {
  .m-center {
    width: 1008px;
  }
  .foot .f-center {
    width: 1008px;
    height: auto;
    margin: 0 auto;
  }
}
